{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // Automatically imports polyfills as needed
        "corejs": "3" // Specify the version of core-js (e.g., 3.x)
      }
    ]
  ]
}
